$$A \oplus B = A\otimes I_B + I_A \otimes B$$

In [1]:
import numpy as np
from ase.io import vasp
from tabulate import tabulate

In [2]:
Dx = np.zeros((4,4))
Dy = np.zeros((3,3))
for i in range(1,Dx.shape[0]+1):
    Dx[i-1] = 100*(np.arange(1,Dx.shape[1]+1)+i*10)
for i in range(1,Dy.shape[0]+1):
    Dy[i-1] = (np.arange(1,Dy.shape[1]+1)+i*10)
Dx,Dy

(array([[1100., 1200., 1300., 1400.],
        [2100., 2200., 2300., 2400.],
        [3100., 3200., 3300., 3400.],
        [4100., 4200., 4300., 4400.]]),
 array([[11., 12., 13.],
        [21., 22., 23.],
        [31., 32., 33.]]))

In [3]:
print(tabulate(np.kron(Dx,np.identity(Dy.shape[0]))))

----  ----  ----  ----  ----  ----  ----  ----  ----  ----  ----  ----
1100     0     0  1200     0     0  1300     0     0  1400     0     0
   0  1100     0     0  1200     0     0  1300     0     0  1400     0
   0     0  1100     0     0  1200     0     0  1300     0     0  1400
2100     0     0  2200     0     0  2300     0     0  2400     0     0
   0  2100     0     0  2200     0     0  2300     0     0  2400     0
   0     0  2100     0     0  2200     0     0  2300     0     0  2400
3100     0     0  3200     0     0  3300     0     0  3400     0     0
   0  3100     0     0  3200     0     0  3300     0     0  3400     0
   0     0  3100     0     0  3200     0     0  3300     0     0  3400
4100     0     0  4200     0     0  4300     0     0  4400     0     0
   0  4100     0     0  4200     0     0  4300     0     0  4400     0
   0     0  4100     0     0  4200     0     0  4300     0     0  4400
----  ----  ----  ----  ----  ----  ----  ----  ----  ----  ----  ----

In [4]:
print(tabulate(np.kron(np.identity(Dx.shape[0]),Dy)))

--  --  --  --  --  --  --  --  --  --  --  --
11  12  13   0   0   0   0   0   0   0   0   0
21  22  23   0   0   0   0   0   0   0   0   0
31  32  33   0   0   0   0   0   0   0   0   0
 0   0   0  11  12  13   0   0   0   0   0   0
 0   0   0  21  22  23   0   0   0   0   0   0
 0   0   0  31  32  33   0   0   0   0   0   0
 0   0   0   0   0   0  11  12  13   0   0   0
 0   0   0   0   0   0  21  22  23   0   0   0
 0   0   0   0   0   0  31  32  33   0   0   0
 0   0   0   0   0   0   0   0   0  11  12  13
 0   0   0   0   0   0   0   0   0  21  22  23
 0   0   0   0   0   0   0   0   0  31  32  33
--  --  --  --  --  --  --  --  --  --  --  --

In [5]:
kronSum = np.kron(Dx,np.identity(Dy.shape[0]))+np.kron(np.identity(Dx.shape[0]),Dy)
print(tabulate(kronSum))

----  ----  ----  ----  ----  ----  ----  ----  ----  ----  ----  ----
1111    12    13  1200     0     0  1300     0     0  1400     0     0
  21  1122    23     0  1200     0     0  1300     0     0  1400     0
  31    32  1133     0     0  1200     0     0  1300     0     0  1400
2100     0     0  2211    12    13  2300     0     0  2400     0     0
   0  2100     0    21  2222    23     0  2300     0     0  2400     0
   0     0  2100    31    32  2233     0     0  2300     0     0  2400
3100     0     0  3200     0     0  3311    12    13  3400     0     0
   0  3100     0     0  3200     0    21  3322    23     0  3400     0
   0     0  3100     0     0  3200    31    32  3333     0     0  3400
4100     0     0  4200     0     0  4300     0     0  4411    12    13
   0  4100     0     0  4200     0     0  4300     0    21  4422    23
   0     0  4100     0     0  4200     0     0  4300    31    32  4433
----  ----  ----  ----  ----  ----  ----  ----  ----  ----  ----  ----